.day {
  justify-content: start;
  &__header {
    display: flex;
    column-gap: 16px;
    margin-bottom: 20px;
  }

  &__title {
    color: #fff;
    list-style: none;
    font-size: 24px;
  }

  &__addButton {
    font-size: 24px;
    color: #6cd1b1;
  }
}

.days-list__day {
  margin-bottom: 36px;
}

.todoList {
  display: flex;
  flex-direction: column;

  row-gap: 16px;
}

.modal {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  height: 135px;
  left: 0;
  right: 0;
  background-color: #288d8d;
  border-radius: 32px;
  bottom: 0;
  z-index: 3;
  border: #000000 solid 3px;

  &__input {
    height: 60px;
    border-radius: 16px;
    background-color: #fff;
  }

  &__addButton {
    height: 60px;
    width: 80px;
    border-radius: 16px;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
}
