* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  background-color: #278e8d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
}

.days-list {
}

.page__days-list {
  padding: 64px 20px;
}
